<div class="bubble-content" contenteditable></div>
<div class="bubble-btn-container formatting-overlay">
  <button title="Set text color to white" data-color="white">
    <svg width="16" height="16" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2.12" cy="2.12" r="2.12" fill="currentColor" style="paint-order: stroke fill markers" />
    </svg>
  </button>
  <button title="Set text color to grey" data-color="grey">
    <svg width="16" height="16" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2.12" cy="2.12" r="2.12" fill="currentColor" style="paint-order: stroke fill markers" />
    </svg>
  </button>
  <button title="Set text color to blue" data-color="blue">
    <svg width="16" height="16" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2.12" cy="2.12" r="2.12" fill="currentColor" style="paint-order: stroke fill markers" />
    </svg>
  </button>
  <button title="Set text color to red" data-color="red">
    <svg width="16" height="16" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2.12" cy="2.12" r="2.12" fill="currentColor" style="paint-order: stroke fill markers" />
    </svg>
  </button>
  <div class="formatting-category-separator"></div>
  <button title="Set text size to small" data-size="80">
    <svg width="16" height="16" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2.12" cy="2.12" r="2.12" fill="currentColor" style="paint-order: stroke fill markers" />
    </svg>
  </button>
  <button title="Set text size to medium" data-size="100">
    <svg width="16" height="16" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2.12" cy="2.12" r="2.12" fill="currentColor" style="paint-order: stroke fill markers" />
    </svg>
  </button>
  <button title="Set text size to large" data-size="125">
    <svg width="16" height="16" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <circle cx="2.12" cy="2.12" r="2.12" fill="currentColor" style="paint-order: stroke fill markers" />
    </svg>
  </button>
</div>
<div class="bubble-btn-container btn-add-bubble-container">
  <button class="action btn-add-bubble" title="Insert new bubble" data-label="New">
    <svg width="12" height="12" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(1.17 0 0 1.17 -.353 -.353)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width=".453">
        <path d="m2.12 0.529v3.17" />
        <path d="m0.529 2.12h3.17" />
      </g>
    </svg>
  </button>
</div>
<div class="bubble-btn-container btn-del-bubble-container">
  <button class="btn-del-bubble" title="Delete this bubble">
    <svg width="12" height="12" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(1.16 1.17 -1.16 1.17 2.12 -2.83)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width=".322">
        <path d="m2.12 0.529v3.17" />
        <path d="m0.529 2.12h3.17" />
      </g>
    </svg>
  </button>
</div>
