<div class="bubble-content-container" tabindex="-1">
  <div class="bubble-content" placeholder="Type dialogue here and it will wrap automatically..." contenteditable></div>
</div>
<div class="bubble-btn-container btn-add-bubble-container">
  <button class="action btn-add-bubble" title="Insert new bubble" data-label="New">
    <svg width="12" height="12" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(1.17 0 0 1.17 -.353 -.353)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width=".453">
        <path d="m2.12 0.529v3.17" />
        <path d="m0.529 2.12h3.17" />
      </g>
    </svg>
  </button>
</div>
<div class="bubble-btn-container btn-del-bubble-container">
  <button class="btn-del-bubble" title="Delete this bubble">
    <svg width="12" height="12" version="1.1" viewBox="0 0 4.23 4.23" xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(1.16 1.17 -1.16 1.17 2.12 -2.83)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width=".322">
        <path d="m2.12 0.529v3.17" />
        <path d="m0.529 2.12h3.17" />
      </g>
    </svg>
  </button>
</div>
