@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url(../assets/fonts/Inter-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url(../assets/fonts/Inter-Regular.woff) format("woff2");
}

@font-face {
  font-family: "Calamity";
  src: url(../assets/fonts/Calamity-Bold.woff2) format("woff2");
}

:root {
  --page-text-color: hsl(40, 60%, 5%);
  --page-bg-color: hsl(0, 0%, 100%);
  --page-link-color: hsl(210, 100%, 50%);
  --page-button-color: hsl(0, 0%, 90%);
  --page-button-hover-color: hsl(0, 0%, 85%);
  --page-button-active-color: hsl(0, 0%, 80%);
  --dialog-text-color: hsl(60, 50%, 95%);
  --dialog-highlight-color: hsl(172, 95%, 50%);
  --dialog-important-color: hsl(353, 95%, 60%);
  --dialog-bg-color: hsla(0, 0%, 0%, 0.4);
  --dialog-invalid-bg-color: hsla(0, 100%, 30%, 0.4);
}

.no-transition {
  transition: none !important;
}

a {
  text-decoration: none;
  color: var(--page-link-color);
}

select, button {
  padding: 0.5rem;
  border: none;
  background-color: var(--page-button-color);
  transition-property: background-color;
  transition-duration: 0.25s;
}

select:hover, button:hover {
  outline: none;
  background-color: var(--page-button-hover-color);
}

button:active {
  background-color: var(--page-button-active-color);
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: var(--page-text-color);
  background-color: var(--page-bg-color);
  font-family: "Inter";
}

.app-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.app {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title {
  margin: 1rem 0 0.5rem 0;
  font-weight: 700;
}

.version {
  margin: 0 0 2rem 0;
}

.bubble-options {
  display: flex;
  gap: 0.5rem;
}

.bubble-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 455px;
  height: 75px;
  font-size: 20px;
  margin: 16px;
  border: 0;
  padding: 16px 64px;
  color: var(--dialog-text-color);
  background-color: var(--dialog-bg-color);
  cursor: text;
  transition-property: filter, transform, border-radius, background-color;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);
  transition-duration: 0.25s;
}

.bubble:focus-within {
  outline: none;
  filter: drop-shadow(0 0 2rem var(--dialog-bg-color));
  transform: translateY(-0.25rem);
}

.bubble.overflow {
  background-color: var(--dialog-invalid-bg-color);
  overflow: scroll;
  scrollbar-width: none;
}

.bubble.overflow::-webkit-scrollbar {
  display: none;
}

.bubble.dialogue {
  border-radius: calc(107px / 2);
}

.bubble.signboard {
  border-radius: 6px;
}

.bubble-content {
  white-space: break-spaces;
  overflow-wrap: anywhere;
  line-height: 1.25;
  margin: 1rem;
  font-family: "Calamity";
}

.bubble-content:focus {
  outline: none;
}

.bubble-content:empty:not(:focus)::before {
  display: block;
  content: attr(placeholder);
  cursor: text;
  color: var(--dialog-text-color);
  opacity: 0.55;
}

.footer {
  display: flex;
  gap: 2rem;
}

.footer-content {
  margin-top: 1rem;
  margin-bottom: 0;
}

.test-bubble {
  position: absolute;
  visibility: hidden;
}