@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url(../assets/fonts/Inter-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url(../assets/fonts/Inter-Regular.woff) format("woff2");
}

@font-face {
  font-family: "Calamity";
  src: url(../assets/fonts/Calamity-Bold.woff2) format("woff2");
}

:root {
  --page-text-color: hsl(40, 60%, 5%);
  --page-link-color: hsl(210, 100%, 50%);
  --page-bg-color: hsl(0, 0%, 100%);
  --dialog-text-color: hsl(60, 50%, 95%);
  --dialog-highlight-color: hsl(172, 95%, 50%);
  --dialog-important-color: hsl(353, 95%, 60%);
  --dialog-bg-color: hsla(0, 0%, 0%, 0.4);
}

a {
  text-decoration: none;
  color: var(--page-link-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  color: var(--page-text-color);
  background-color: var(--page-bg-color);
  font-family: "Inter";
}

.app {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.title {
  margin: 1rem 0 0.5rem 0;
  font-weight: 700;
}

.version {
  margin: 0 0 2rem 0;
}

.content-edit-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.text-box {
  width: 430px;
  height: 75px;
  font-size: 20px;
  resize: none;
  overflow: hidden;
  /* white-space: pre; */
  line-height: 1.25;
  margin: 1rem;
  border: 0;
  border-radius: 4rem;
  padding: 1rem 4rem;
  color: var(--dialog-text-color);
  background-color: var(--dialog-bg-color);
  font-family: "Calamity";
  transition-property: filter, transform;
  transition-duration: 0.25s;
}

.text-box:focus {
  outline: none;
  filter: drop-shadow(0 0 2rem var(--dialog-bg-color));
  transform: translateY(-0.25rem);
}

.text-box::placeholder {
  color: var(--dialog-text-color);
  opacity: 0.55;
}

.footer {
  display: flex;
  gap: 2rem;
}

.footer-content {
  margin-top: 1rem;
  margin-bottom: 0;
}